<div class="row justify-content-between" style="background-color: white">
  <div class="col-5">
    <img height="280"
         src="https://cdn.divineshop.vn/image/catalog/Anh-SP/Netflix/Divine-Shop-NETFLIX-1-thang-23298.jpg?hash=1658829694"
         class="d-block w-100 card-img-top mb-1 "
         alt="...">
  </div>
  <div class="col-7">
    <div class="col-12 title-name-thin">
      Category
    </div>
    <div class="col-12 title-name-thin" style="font-size: xx-large">
      Product Name
    </div>
    <div class="col-12 title-name-thin">
      Status: available
    </div>
    <div class="col-12 title-name-thin">
      Product category : Action
    </div>
    <div class="col-12 title-name-thin">
      SalePrice: 100d
    </div>
    <div class="col-12 d-flex">
      <p class="title-name-thin text-decoration-line-through text-muted mb-0 me-2">OriginalPrice: 200đ</p>
      <span class="badge bg-warning rounded-pill">  0%</span>
    </div>
    <hr>
    <div class="col-12">
      <button type="button" class="btn btn-warning me-3"><i class="fa-solid fa-credit-card"></i> Mua ngay</button>
      <button type="button" class="btn btn-outline-warning" (click)="addToCart(2)"><i class="fa-solid fa-cart-plus"></i>
        Thêm vào giỏ
      </button>
    </div>
  </div>
</div>
<div class="vh-100">
  description
</div>
