.title-name-thin {
  font-family: "Roboto Thin", "Times New Roman", serif;
}

.title-name-light {
  font-family: "Roboto Light", "Times New Roman", serif;
}

a.title-link {
  text-decoration: none;
}

a.title-link:-webkit-any-link:hover {
  cursor: pointer;
  text-decoration: underline;
}
