<div class="min-vh-100">
  <div class="row col-12">
    <div class="col-8 p-3 border border-3 border-light">
      <p class="mb-4">Giỏ hàng (0 sản phẩm)</p>
      <div class="col-12 mb-2 d-flex justify-content-between">
        <div class="col-4 me-2">
          <img height="175"
               src="https://cdn.divineshop.vn/image/catalog/Anh-SP/Netflix/Divine-Shop-NETFLIX-1-thang-23298.jpg?hash=1658829694"
               class="d-block w-100 card-img-top mb-1 "
               alt="...">
        </div>
        <div class="col-8">
          <div class="col-12 title-name-thin">
            <div class="d-flex">
              <p class="me-auto mb-0" style="font-size: x-large">Product name</p>
              <button type="button" class="ms-auto btn btn-danger btn-sm h-50" data-bs-toggle="tooltip"
                      data-bs-placement="left"
                      data-bs-title="Remove product from cart">X
              </button>
            </div>
          </div>
          <div class="col-12 title-name-thin">
            Category
          </div>
          <div class="col-12 title-name-thin">
            Status: available
          </div>
          <div class="col-12 title-name-thin">
            Product category : Action
          </div>
          <div class="col-12 d-flex ">
            <div class="title-name-thin">
              SalePrice: 100d
            </div>
            <div class="ms-auto btn-group">
              <button class="btn btn-primary ms-auto btn-sm" type="button">-</button>
              <input type="number" class="input-number-custom text-center" style="width: 3rem">
              <button class="btn btn-primary btn-sm" type="button">+</button>
            </div>
          </div>
          <div class="d-flex">
            <p class="title-name-thin text-decoration-line-through text-muted mb-0 me-2"> OriginalPrice: 200đ</p>
            <span class="badge bg-warning rounded-pill">  0%</span></div>
        </div>
      </div>
      <div class="col-12 mb-2 d-flex justify-content-between">
        <div class="col-4 me-2">
          <img height="175" src="https://cdn.divineshop.vn/image/catalog/Banner/ChatGPT-36911.png?hash=1675326612"
               class="d-block w-100 card-img-top mb-1 "
               alt="...">
        </div>
        <div class="col-8">
          <div class="col-12 title-name-thin">
            <div class="d-flex">
              <p class="me-auto mb-0" style="font-size: x-large">Product name</p>
              <button type="button" class="ms-auto btn btn-danger btn-sm h-50" data-bs-toggle="tooltip"
                      data-bs-placement="left"
                      data-bs-title="Remove product from cart">X
              </button>
            </div>
          </div>
          <div class="col-12 title-name-thin">
            Category
          </div>
          <div class="col-12 title-name-thin">
            Status: available
          </div>
          <div class="col-12 title-name-thin">
            Product category : Action
          </div>
          <div class="col-12 d-flex ">
            <div class="title-name-thin">
              SalePrice: 100d
            </div>
            <div class="ms-auto btn-group">
              <button class="btn btn-primary ms-auto btn-sm" type="button">-</button>
              <input type="number" class="input-number-custom text-center" style="width: 3rem">
              <button class="btn btn-primary btn-sm" type="button">+</button>
            </div>
          </div>
          <div class="d-flex">
            <p class="title-name-thin text-decoration-line-through text-muted mb-0 me-2"> OriginalPrice: 200đ</p>
            <span class="badge bg-warning rounded-pill">  0%</span></div>
        </div>
      </div>
    </div>
    <div class="col-4 h-auto p-3 border border-3 border-light">
      <p class="title-name-thin fw-bold">Payment</p>
      <div class="col-12 d-flex">
        <p class="title-name-thin me-auto">Total price of products: </p>
        <p>1000000000000000</p>
      </div>
      <div class="col-12 d-flex">
        <input type="text" class="input-group-text me-auto w-75" placeholder="Voucher">
        <button type="button" class="btn btn-outline-warning">Apply</button>
      </div>
      <hr>
      <div class="col-12 d-flex">
        <p class="title-name-thin me-auto">Discount: </p>
        <p>-0<span class="ms-1 badge bg-warning rounded-pill">0%</span></p>
      </div>
      <div class="col-12 d-flex">
        <p class="title-name-thin me-auto">Final Price: </p>
        <p>1000000000000000</p>
      </div>
      <div class="col-12">
        <button class="w-100 btn btn-primary" type="button"><i class="fa-brands fa-paypal"></i> Pay with Paypal</button>
      </div>
    </div>
  </div>
</div>
