<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a routerLink="" class="d-flex align-items-center me-auto mb-2 mb-lg-0 text-white text-decoration-none">
        <img width="50" height="50" src="assets/img/valhalla-icon-2.png" class="border rounded-3" alt="valhalla-icon">
        <span class="fs-4 ms-2 title-name-shop"> VALHALLGAMES SHOP TODAY 21/02/2023</span>
      </a>
      <form class="d-flex col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input class="form-control form-control-dark me-2" type="search" placeholder="Search" aria-label="Search">
      </form>
      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">Login</button>
        <button type="button" class="btn btn-outline-warning me-5">Sign-up</button>
        <button type="button" class="btn btn-outline-warning" routerLink="/cart"><i
          class="fa-solid fa-cart-shopping"></i> Cart <span
          class="badge bg-warning rounded-circle">{{totalQuantityProduct}}</span></button>
      </div>
    </div>
    <hr class="mb-1">
    <ul class="nav col-12 col-lg-auto me-lg-auto justify-content-between mb-md-0">
      <li><a href="#" class="nav-link px-0 text-white">Home</a></li>
      <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
      <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
      <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
      <li><a href="#" class="nav-link px-2 text-white">About</a></li>
    </ul>
  </div>

</header>
