<div class="row justify-content-between col-lg-auto me-lg-auto mt-3">
  <div class="col-3">
    <ul class="list-group">
      <li class="list-group-item list-group-item-action">An item</li>
      <li class="list-group-item list-group-item-action">A second item</li>
      <li class="list-group-item list-group-item-action">A third item</li>
      <li class="list-group-item list-group-item-action">A fourth item</li>
      <li class="list-group-item list-group-item-action">A fourth item</li>
      <li class="list-group-item list-group-item-action">A fourth item</li>
      <li class="list-group-item list-group-item-action">A fourth item</li>
      <li class="list-group-item list-group-item-action">A fourth item</li>
    </ul>
  </div>
  <div class="col-6">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner border rounded-3">
        <div class="carousel-item active ">
          <img width="521" height="329"
               src="https://cdn.divineshop.vn/image/catalog/Banner%20m%E1%BB%9Bi/chatGPT-62010.jpg?hash=1675416948"
               class="d-block w-100 border rounded-3"
               alt="...">
        </div>
        <div class="carousel-item">
          <img width="521" height="329"
               src="https://cdn.divineshop.vn/image/catalog/Phi/Atomic%20Heart-28832.png?hash=1675765454"
               class="d-block w-100 border rounded-3"
               alt="...">
        </div>
        <div class="carousel-item">
          <img width="521" height="329"
               src="https://cdn.divineshop.vn/image/catalog/Anh/24.12.21/netflix-49596.png?hash=1640349471"
               class="d-block w-100 border rounded-3"
               alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="col-3">
    <div class="row row-cols-1">
      <div class="col-12 mb-2">
        <img height="160"
             src="https://cdn.divineshop.vn/image/catalog/Banner%20m%E1%BB%9Bi/Fake%20IP-93612.png?hash=1670897430"
             class="d-block w-100 border rounded-3" alt="...">
      </div>
      <div class="col-12">
        <img width="521" height="160"
             src="https://cdn.divineshop.vn/image/catalog/Banner%20m%E1%BB%9Bi/Spotify%20(3)-78485.png?hash=1670897439"
             class="d-block w-100 border rounded-3"
             alt="...">
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-between col-lg-auto me-lg-auto mt-3">
  <div class="col-3">
    <img height="160"
         src="https://cdn.divineshop.vn/image/catalog/Banner%20m%E1%BB%9Bi/Steam%20(1)-63472.png?hash=1670897450"
         class="d-block w-100 border rounded-3" alt="...">
  </div>
  <div class="col-3">
    <img height="160" src="https://cdn.divineshop.vn/image/catalog/Banner/ChatGPT-36911.png?hash=1675326612"
         class="d-block w-100 border rounded-3" alt="...">
  </div>
  <div class="col-3">
    <img height="160"
         src="https://cdn.divineshop.vn/image/catalog/Banner%20m%E1%BB%9Bi/gmail%20(1)-68843.png?hash=1670897467"
         class="d-block w-100 border rounded-3" alt="...">
  </div>
  <div class="col-3">
    <img height="160"
         src="https://cdn.divineshop.vn/image/catalog/Banner%20m%E1%BB%9Bi/Microsoft%20Office%20(1)-79722.png?hash=1670897482"
         class="d-block w-100 border rounded-3" alt="...">
  </div>
</div>
<div class="row justify-content-between col-lg-auto me-lg-auto mt-3">
  <div class="d-flex">
    <h4 class="title-name-thin text-uppercase fw-bold me-auto">Recommend</h4>
    <button type="button" class="btn btn-warning">Discover <i class="fa-solid fa-arrow-right"></i></button>
  </div>
  <p class="title-name-light">List product you may like.</p>
</div>
<div class="row justify-content-between col-lg-auto me-lg-auto mt-3">
  <div class="col-3 mb-3">
    <div class="card border rounded-3" style="width: 18rem;">
      <img height="160"
           src="https://cdn.divineshop.vn/image/catalog/Anh-SP/Netflix/Divine-Shop-NETFLIX-1-thang-23298.jpg?hash=1658829694"
           class="d-block w-100 card-img-top mb-1 "
           alt="...">
      <div class="card-body mb-0 pb-0">
        <a routerLink="/product/details" class="card-text text-black title-name-light title-link">Tài Khoản Netflix
          Premium 1 tháng
          -
          Xem phim chất lượng
          4k và
          Full HD</a>
        <div class="d-flex mt-2">
          <p class="fw-bold title-name-light me-2">300.000 đ</p>
          <p class="text-muted title-name-light text-decoration-line-through me-3">300.000 đ</p>
          <p class="badge bg-warning rounded-pill">-0%</p>
        </div>
        <div class="d-flex">
          <a href="#" class="ms-auto card-text title-name-light title-link text-black fst-italic">
            More details
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3 mb-3">
    <div class="card border rounded-3" style="width: 18rem;">
      <img height="160"
           src="https://cdn.divineshop.vn/image/catalog/Anh-SP/Spotify/Divine-Shop-Goi-Gia-Han-Spotify-1-Nam-40567.jpg?hash=1658742748"
           class="d-block w-100 card-img-top mb-1 "
           alt="...">
      <div class="card-body mb-0 pb-0">
        <a href="#" class="card-text text-black title-name-light title-link">Tài Khoản Netflix
          Premium 1 tháng
          -
          Xem phim chất lượng
          4k và
          Full HD</a>
        <div class="d-flex mt-2">
          <p class="fw-bold title-name-light me-2">300.000 đ</p>
          <p class="text-muted title-name-light text-decoration-line-through me-3">300.000 đ</p>
          <p class="badge bg-warning rounded-pill">-0%</p>
        </div>
        <div class="d-flex">
          <a href="#" class="ms-auto card-text title-name-light title-link text-black fst-italic">
            More details
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3 mb-3">
    <div class="card border rounded-3" style="width: 18rem;">
      <img height="160"
           src="https://cdn.divineshop.vn/image/catalog/Anh-SP/Zoom/Divine-Shop-Nang-cap-Zoom-Pro-1-thang-80331.jpg?hash=1658975559"
           class="d-block w-100 card-img-top mb-1 "
           alt="...">
      <div class="card-body mb-0 pb-0">
        <a href="#" class="card-text text-black title-name-light title-link">Tài Khoản Netflix
          Premium 1 tháng
          -
          Xem phim chất lượng
          4k và
          Full HD</a>
        <div class="d-flex mt-2">
          <p class="fw-bold title-name-light me-2">300.000 đ</p>
          <p class="text-muted title-name-light text-decoration-line-through me-3">300.000 đ</p>
          <p class="badge bg-warning rounded-pill">-0%</p>
        </div>
        <div class="d-flex">
          <a href="#" class="ms-auto card-text title-name-light title-link text-black fst-italic">
            More details
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3 mb-3">
    <div class="card border rounded-3" style="width: 18rem;">
      <img height="160"
           src="https://cdn.divineshop.vn/image/catalog/Anh-SP/Windows/Divine-shop-windows-10-pro-55555.jpg?hash=1658743921"
           class="d-block w-100 card-img-top mb-1 "
           alt="...">
      <div class="card-body mb-0 pb-0">
        <a href="#" class="card-text text-black title-name-light title-link">Tài Khoản Netflix
          Premium 1 tháng
          -
          Xem phim chất lượng
          4k và
          Full HD</a>
        <div class="d-flex mt-2">
          <p class="fw-bold title-name-light me-2">300.000 đ</p>
          <p class="text-muted title-name-light text-decoration-line-through me-3">300.000 đ</p>
          <p class="badge bg-warning rounded-pill">-0%</p>
        </div>
        <div class="d-flex">
          <a href="#" class="ms-auto card-text title-name-light title-link text-black fst-italic">
            More details
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3 mb-3">
    <div class="card border rounded-3" style="width: 18rem;">
      <img height="160"
           src="https://cdn.divineshop.vn/image/catalog/Anh-SP/Youtube/Divine-Shop-YOUTUBE-NO-ADS-1-NAM-53447.jpg?hash=1658743452"
           class="d-block w-100 card-img-top mb-1 "
           alt="...">
      <div class="card-body mb-0 pb-0">
        <a href="#" class="card-text text-black title-name-light title-link">Tài Khoản Netflix
          Premium 1 tháng
          -
          Xem phim chất lượng
          4k và
          Full HD</a>
        <div class="d-flex mt-2">
          <p class="fw-bold title-name-light me-2">300.000 đ</p>
          <p class="text-muted title-name-light text-decoration-line-through me-3">300.000 đ</p>
          <p class="badge bg-warning rounded-pill">-0%</p>
        </div>
        <div class="d-flex">
          <a href="#" class="ms-auto card-text title-name-light title-link text-black fst-italic">
            More details
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3 mb-3">
    <div class="card border rounded-3" style="width: 18rem;">
      <img height="160"
           src="https://cdn.divineshop.vn/image/catalog/Anh-SP/Kh%C3%A1c/Divine-Shop-Canva-1-Nam-44514.jpg?hash=1658741770"
           class="d-block w-100 card-img-top mb-1 "
           alt="...">
      <div class="card-body mb-0 pb-0">
        <a href="#" class="card-text text-black title-name-light title-link">Tài Khoản Netflix
          Premium 1 tháng
          -
          Xem phim chất lượng
          4k và
          Full HD</a>
        <div class="d-flex mt-2">
          <p class="fw-bold title-name-light me-2">300.000 đ</p>
          <p class="text-muted title-name-light text-decoration-line-through me-3">300.000 đ</p>
          <p class="badge bg-warning rounded-pill">-0%</p>
        </div>
        <div class="d-flex">
          <a href="#" class="ms-auto card-text title-name-light title-link text-black fst-italic">
            More details
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3 mb-3">
    <div class="card border rounded-3" style="width: 18rem;">
      <img height="160" src="https://cdn.divineshop.vn/image/catalog/OpenAI%20-%20ChatGPT-37620.jpg?hash=1672200973"
           class="d-block w-100 card-img-top mb-1 "
           alt="...">
      <div class="card-body mb-0 pb-0">
        <a href="#" class="card-text text-black title-name-light title-link">Tài Khoản Netflix
          Premium 1 tháng
          -
          Xem phim chất lượng
          4k và
          Full HD</a>
        <div class="d-flex mt-2">
          <p class="fw-bold title-name-light me-2">300.000 đ</p>
          <p class="text-muted title-name-light text-decoration-line-through me-3">300.000 đ</p>
          <p class="badge bg-warning rounded-pill">-0%</p>
        </div>
        <div class="d-flex">
          <a href="#" class="ms-auto card-text title-name-light title-link text-black fst-italic">
            More details
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3 mb-3">
    <div class="card border rounded-3" style="width: 18rem;">
      <img height="160"
           src="https://cdn.divineshop.vn/image/catalog/Anh-SP/Kh%C3%A1c/Divine-Shop-Grammarly-Premium-1-Nam-35103.jpg?hash=1658742859"
           class="d-block w-100 card-img-top mb-1 "
           alt="...">
      <div class="card-body mb-0 pb-0">
        <a href="#" class="card-text text-black title-name-light title-link">Tài Khoản Netflix
          Premium 1 tháng
          -
          Xem phim chất lượng
          4k và
          Full HD</a>
        <div class="d-flex mt-2">
          <p class="fw-bold title-name-light me-2">300.000 đ</p>
          <p class="text-muted title-name-light text-decoration-line-through me-3">300.000 đ</p>
          <p class="badge bg-warning rounded-pill">-0%</p>
        </div>
        <div class="d-flex">
          <a href="#" class="ms-auto card-text title-name-light title-link text-black fst-italic">
            More details
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 d-flex align-content-center justify-content-between">
    <a href="#" class="ms-auto me-auto justify-content-center title-name-thin title-link btn btn-warning">Load more</a>
  </div>
</div>
